* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 16px 0;
}

p:last-of-type {
  padding: 0;
}

h1 {
  font-size: 2rem;
  margin-top: 96px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}
header {
  box-sizing: content-box;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

main {
  box-sizing: content-box;
  background-color: hsl(0deg, 0%, 40%);
  padding: 72px 0;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin-left: -32px;
  padding: 16px 32px;
  max-width: fit-content;
}

.intro-chunk {
  max-width: 415px;
  padding-block-end: 48px;
}

.title {
  margin-bottom: 3rem;
}

.card {
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
  background-color: hsl(0deg, 0%, 100%);
  padding: 24px;
  margin: 0 -24px;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

